.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 48px;
  justify-content: center;

  &__card {
    display: grid;
    justify-content: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
}

@media (min-width: 488px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 200px);
  }
}
